.at-hero2-sec {
	z-index: 1;
	padding-top: 190px;
	padding-bottom: 225px;
	background-color: #07000E;
	@media #{$md,$sm,$xs,$xxs} {
		padding-bottom: 80px;
	}
}
@keyframes leftRight {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-40px); 
	}
	50% {
		transform: translateX(60px); 
	}
	75% {
		transform: translateX(40px); 
	}
	100% {
		transform: translateX(0); 
	}
}
.at-hero2-bg {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	max-height: 920px;
	position: absolute;
	.item-img {
		img {
			scale: 1.05;
			animation: leftRight 15s infinite ease-in-out;
		}
	}
	&:before {
		left: 0;
		bottom: 0;
		content: '';
		width: 100%;
		height: 100%;
		max-height: 295px;
		position: absolute;
		background: linear-gradient(180deg, rgba(7, 0, 14, 0) 0%, #07000E 100%);
	}
	.bg-shape {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
}
.at-hero2-text {
	max-width: 691px;
	p {
		color: #fff;
		max-width: 517px;
		padding-bottom: 36px;
	}
	.at-hr2-title {
		color: #fff;
		font-size: 68px;
		font-weight: 600;
		line-height: 1.06;
		padding-bottom: 25px;
		@media #{$md} {
			font-size: 50px;
		}
		@media #{$sm} {
			font-size: 55px;
		}
		@media #{$xs} {
			font-size: 50px;
		}
		@media #{$xxs} {
			font-size: 45px;
		}
		@media #{$xxxs} {
			font-size: 40px;
		}
	}
}
.at-hero2-content {
	gap: 25px;
	z-index: 2;
	position: relative;
	@media #{$sm,$xs,$xxs} {
		gap: 15px;
		flex-wrap: wrap;
	}
}
.at-hero2-client-wrap {
	.at-hr2-cl-shape {
		top: -70px;
		left: -165px;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.at-hero2-client {
	z-index: 1;
	width: 272px;
	height: 276px;
	overflow: hidden;
	position: relative;
	padding: 25px 20px;
	border-radius: 18px;
	@media #{$sm,$xs,$xxs} {
		width: 100%;
	}
	&:before {
		content: "";
		position: absolute;
		inset: 0;
		padding: 2px; 
		border-radius: 16px;
		background: linear-gradient(224.28deg, #FFFFFF 0%, rgba(255,255,255,0) 33.5%, rgba(255,255,255,0) 60%, #FFFFFF 100%);
		-webkit-mask:
		linear-gradient(#000 0 0) content-box,
		linear-gradient(#000 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		z-index: -1;
	}
	h2 {
		color: #fff;
		font-size: 48px;
		font-weight: 600;
		margin-bottom: 16px;
	}
	ul {
		display: flex;
		justify-content: center;
	}
	li {
		width: 64px;
		height: 64px;
		overflow: hidden;
		margin-left: -20px;
		border-radius: 100%;
		border: 3px solid #290C1C;
		&:first-child {
			margin-left: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	p {
		color: #fff;
		margin: 0 auto;
		padding-top: 20px;
	}
}

.at-hero2-img-wrap {
	margin: 0 auto;
	max-width: 992px;
	margin-top: -115px;
	transform: translateX(50px);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		transform: translateX(0);
	}
	@media #{$md,$sm,$xs,$xxs} {
		gap: 25px;
		margin-top: 50px;
	}
	@media #{$xs,$xxs} {
		flex-wrap: wrap;
	}
	.hr2-img {
		border-radius: 16px;
		backdrop-filter: blur(72px);
		border: 6px solid #FFFFFF1F;
		box-shadow: -22px -22px 40px 0px #00000085;
		img {
			border-radius: 16px;
		}
	}
	.item-img1,
	.item-img2 {
		position: absolute;
		@media #{$md,$sm,$xs,$xxs} {
			position: static;
		}
	}
	.item-img1 {
		left: 65px;
		top: 110px;
		transform: rotate(-16.16deg);
		@media #{$md,$sm,$xs,$xxs} {
			transform: rotate(0);
		}
	}
	.item-img2 {
		top: 175px;
		z-index: 2;
		right: 65px;
		transform: rotate(16.16deg);
		@media #{$md,$sm,$xs,$xxs} {
			transform: rotate(0);
		}
	}
}