.at-tm1-content {
	.at-tm1-bg {
		top: 0;
		left: 0;
		z-index: -2;
		width: 100%;
		height: 100%;
	}
	.at-tm1-bgclr {
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		max-width: 1465px;
		background-color: #fff;
	}
}
.at-tm1-item-wrap {
	.at-sec-title1 {
		margin: 0 auto;
		max-width: 600px;
	}
}
.at-tm1-item-area {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.at-tm1-item {
	overflow: hidden;
	@media #{$md,$sm} {
		width: 50%;
		max-width: 330px;
	}
	@media #{$xs,$xxs} {
		width: 100%;
		max-width: 330px;
	}
	.item-img {
		position: relative;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			content: '';
			height: 100%;
			position: absolute;
			background-color: #FFAE72;
		}
		img {
			mix-blend-mode: luminosity;
			transition: all 500ms ease-in-out;
		}
	}
	&:nth-child(even) {
		.item-text {
			transform: rotate(11.06deg);
		}
	}
	&:nth-child(2) {
		.item-img {
			&:before {
				background-color: #B54C8A;
			}
		}
		.item-text {
			background-color: #FFCCE9;
			span {
				color: #A13876;
			}
		}
	}
	&:nth-child(3) {
		.item-img {
			&:before {
				background-color: #298F97;
			}
		}
		.item-text {
			background-color: #99F8FF;
			span {
				color: #167C84;
			}
		}
	}
	&:nth-child(4) {
		.item-img {
			&:before {
				background-color: #A234FD;
			}
		}
		.item-text {
			background-color: #EBD2FF;
			span {
				color: #9527F0;
			}
		}
	}
	.item-text {
		left: -25px;
		width: 116%;
		bottom: 60px;
		position: absolute;
		padding: 18px 15px;
		background-color: #FFD2B1;
		transform: rotate(-11.06deg);
		border-top: 8px solid #FFFFFF;
		h3 {
			font-size: 28px;
			font-weight: 700;
			padding-bottom: 5px;
		} 
		span {
			color: #9D4C10;
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.1);
			}
		}
	}
}