.at-client1-title {
	h2 {
		font-size: 20px;
		font-weight: 700;
	}
}
.at-client1-slider {
	margin: 0 auto;
	max-width: 1245px;
}
.at-client1-item {
	.item-img {
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 500ms ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
	}
}