.at-hero1-sec {
	padding: 25px 25px 80px;
	@media #{$xxl,$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
.at-hero1-bg {
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
	border-radius: 20px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		border-radius: 0;
	}
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		content: '';
		height: 100%;
		opacity: 0.322;
		position: absolute;
		background-image: linear-gradient( 140deg, rgb(52,50,51) 0%, rgb(60,58,59) 64%, rgb(67,65,67) 100%);
	}
}
.at-hero1-content {
	z-index: 1;
	padding: 330px 0px 205px;
	@media #{$lg} {
		padding: 240px 0px 180px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		padding: 180px 0px 60px;
	}
	.at-hero1-video {
		left: 0;
		width: 42.5%;
		z-index: -1;
		bottom: -45px;
		height: 419px;
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			width: 40%;
		}
		@media #{$md,$sm,$xs,$xxs} {
			width: 100%;
			margin-top: 30px;
			position: static !important;
		}
	}
}
.at-hero1-text {
	max-width: 1200px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 1150px;
	}
	.hero_title {
		color: #fff;
		max-width: 1025px;
		font-size: 120px;
		font-weight: 700;
		line-height: 1.083;
		@media #{$xl} {
			font-size: 100px;
		}
		@media #{$lg} {
			font-size: 80px;
		}
		@media #{$md} {
			font-size: 70px;
		}
		@media #{$sm} {
			font-size: 60px;
		}
		@media #{$xs} {
			font-size: 55px;
		}
		@media #{$xxs} {
			font-size: 45px;
		}
		@media #{$xxxs} {
			font-size: 40px;
		}
		span {
			font-weight: 300;
		}
	}
	.at-hero1-desc {
		@media #{$md,$sm,$xs,$xxs} {
			justify-content: flex-start !important;
		}
		.inner-item {
			max-width: 585px;
			@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
				max-width: 550px;
			}
			@media #{$md,$sm,$xs,$xxs} {
				max-width: 100%;
			}
			p {
				color: #fff;
				font-size: 22px;
				padding-bottom: 25px;
			}
		}
	}
}
.at-hero1-line {
	top: 10px;
	gap: 22px;
	right: 85px;
	display: flex;
	position: absolute;
	@media #{$xxl} {
		right: 20px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		display: none;
	}
}
.at-hr-item-line {
	gap: 35px;
	color: #fff;
	display: flex;
	padding: 60px 28px;
	border-radius: 60px;
	align-items: center;
	justify-content: center;
	writing-mode: sideways-lr;
	span {
		color: #fff;
		font-size: 25px;
		font-weight: 700;
	}
	strong {
		width: 1px;
		height: 175px;
		background-color: #fff;
	}
	b {
		height: 350px;
	}
}