.at-ftr-social2 {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
	h3 {
		color: #fff;
		max-width: 610px;
		font-size: 52px;
		font-weight: 600;
		@media #{$xs,$xxs} {
			font-size: 40px;
		}
		span {
			opacity: .5;
			display: block;
		}
	}
}
.at-ftr-social2-icon {
	gap: 12px;
	@media #{$xs,$xxs} {
		flex-wrap: wrap;
	}
	a {
		position: relative;
		i {
			color: #fff;
			width: 64px;
			height: 64px;
			display: flex;
			border-radius: 6px;
			align-items: center;
			justify-content: center;
			transition: 800ms cubic-bezier(0.5, -0.75, 0.3, 1.5);
			@media #{$xxs} {
				width: 45px;
				height: 45px; 
			}
		}
		span {
			opacity: 0;
			top: -85px;
			left: -120px;
			visibility: hidden;
			position: absolute;
			transition: 800ms cubic-bezier(0.5, -0.75, 0.3, 1.5);
		}
		&:nth-child(1) {
			i {
				background-color: #1877F2;
			}
		}
		&:nth-child(2) {
			i {
				background: linear-gradient(45deg, #FFD600 8.39%, #FF0100 50%, #D800B9 91.61%);
			}
		}
		&:nth-child(3) {
			i {
				background: #FFFFFF;
				color: var(--at-black1);
			}
		}

		&:nth-child(4) {
			i {
				color: #fff;
				background-color: #E60024;
			}
		}
		&:hover {
			span {
				opacity: 1;
				left: -140px;
				visibility: visible;
				transform: rotate(-10deg);
			}
			i {
				transform: rotate(-5deg) translateX(5px) translateY(-10px);
			}
		}
	}
}

.at-footer2-widget-wrap {
	border-top: 1px solid rgba(255, 255, 255, .24);
}
.at-ftr2-content {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
}
.at-ftr2-widget {
	.cta-widget {
		max-width: 310px;
		span {
			color: #fff;
			font-size: 22px;
		}
		h3 {
			color: #fff;
			font-size: 36px;
			font-weight: 500;
			margin-bottom: 0;
			padding: 20px 0px;
			@media #{$xxs} {
				font-size: 30px;
			}
		}
		p {
			color: #fff;
			opacity: .8;
		}
	}
	.newslatter-widget {
		max-width: 394px;
		p {
			color: #fff;
			font-size: 36px;
			line-height: 1.2;
			margin-bottom: 0;
			padding-bottom: 25px;
		}
		form {
			position: relative;
		}
		input {
			width: 100%;
			height: 45px;
			border: none;
			background-color: transparent;
			border-bottom: 1px solid rgba(255, 255, 255, .24);
		}
		button {
			top: 0;
			right: 0;
			border: none;
			font-size: 20px;
			position: absolute;
			background-color: transparent;
			background: linear-gradient(90deg, #7512A2 0%, #FF31AB 48.53%, #FF6F05 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}
.at-ftr2-menu-wrap {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
}
.at-ftr2-menu {
	li {
		margin-left: 36px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			margin-left: 15px;
		}
		a {
			color: #fff;
		}
	}
}
.at-ftr2-copyright {
	font-size: 16px;
	margin-top: 24px;
	padding-top: 24px;
	padding-bottom: 28px;
	border-top: 1px solid rgba(255, 255, 255, .24);
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
	p {
		opacity: .72;
		color: #fff;
	}
	ul {
		li {
			a {
				color: #fff;
				opacity: .72;
			}
		}
	}
}