.at-ftr-social2 {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
	h3 {
		color: #fff;
		max-width: 610px;
		font-size: 52px;
		font-weight: 600;
		@media #{$xs,$xxs} {
			font-size: 40px;
		}
		span {
			opacity: .5;
			display: block;
		}
	}
}
.at-ftr-social2-icon {
	gap: 12px;
	@media #{$xs,$xxs} {
		flex-wrap: wrap;
	}
	a {
		position: relative;
		i {
			color: #fff;
			width: 64px;
			height: 64px;
			display: flex;
			border-radius: 6px;
			align-items: center;
			justify-content: center;
			transition: 800ms cubic-bezier(0.5, -0.75, 0.3, 1.5);
			@media #{$xxs} {
				width: 45px;
				height: 45px; 
			}
		}
		span {
			opacity: 0;
			top: -85px;
			left: -120px;
			visibility: hidden;
			position: absolute;
			transition: 800ms cubic-bezier(0.5, -0.75, 0.3, 1.5);
		}
		&:nth-child(1) {
			i {
				background-color: #1877F2;
			}
		}
		&:nth-child(2) {
			i {
				background: linear-gradient(45deg, #FFD600 8.39%, #FF0100 50%, #D800B9 91.61%);
			}
		}
		&:nth-child(3) {
			i {
				background: #FFFFFF;
				color: var(--at-black1);
			}
		}

		&:nth-child(4) {
			i {
				color: #fff;
				background-color: #E60024;
			}
		}
		&:hover {
			span {
				opacity: 1;
				left: -140px;
				visibility: visible;
				transform: rotate(-10deg);
			}
			i {
				transform: rotate(-5deg) translateX(5px) translateY(-10px);
			}
		}
	}
}

.at-footer2-widget-wrap {
	border-top: 1px solid rgba(255, 255, 255, .24);
}
.at-ftr2-content {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
}
.at-ftr2-widget {
	.cta-widget {
		max-width: 310px;
		span {
			color: #fff;
			font-size: 22px;
		}
		h3 {
			color: #fff;
			font-size: 36px;
			font-weight: 500;
			margin-bottom: 0;
			padding: 20px 0px;
			transition: all 500ms ease-in-out;
			@media #{$xxs} {
				font-size: 30px;
			}
			&:hover {
				color: var(--at-c3);
			}
		}
		p {
			color: #fff;
			opacity: .8;
		}
	}
	.newslatter-widget {
		max-width: 394px;
		p {
			color: #fff;
			font-size: 36px;
			line-height: 1.2;
			margin-bottom: 0;
			padding-bottom: 25px;
		}
		form {
			position: relative;
		}
		input {
			width: 100%;
			height: 45px;
			border: none;
			background-color: transparent;
			color: rgba(255, 255, 255, 0.7);
			border-bottom: 1px solid rgba(255, 255, 255, .24);
			&::placeholder {
				color: rgba(255, 255, 255, 0.7);
			}
		}
		button {
			top: 0;
			right: 0;
			border: none;
			font-size: 20px;
			position: absolute;
			background-color: transparent;
			background: linear-gradient(90deg, #7512A2 0%, #FF31AB 48.53%, #FF6F05 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: all 500ms ease-in-out;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
	.logo-widget {
		perspective: 1000px;
		transform-style: preserve-3d;
		animation: spin3d 10s linear infinite;
	}
}
.at-ftr2-menu-wrap {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
}
.at-ftr2-menu {
	li {
		margin-left: 36px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			margin-left: 15px;
		}
		a {
			color: #fff;
			&:hover {
				color: var(--at-c4);
			}
		}
	}
}
.at-ftr2-copyright {
	font-size: 16px;
	margin-top: 24px;
	padding-top: 24px;
	padding-bottom: 28px;
	border-top: 1px solid rgba(255, 255, 255, .24);
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
	p {
		opacity: .72;
		color: #fff;
	}
	ul {
		li {
			a {
				color: #fff;
				opacity: .72;
				&:hover {
					color: var(--at-c4);
				}
			}
		}
	}
}
.at-footer3-sec {
	background-color: #121546;
}
.at-ftr3-cta {
	padding-bottom: 20px;
	.at-ftr3-shape1 {
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
	}
	.at-cta-shape1 {
		left: 0;
		right: 0;
		bottom: -65%;
	}
	.at-ftr3-subtitle {
		color: #A234FD;
		font-size: 14px;
		font-weight: 500;
		padding: 5px 12px;
		margin-bottom: 25px;
		border-radius: 4px;
		display: inline-block;
		background: linear-gradient(90deg, rgba(162, 52, 253, 0.2) 0%, rgba(162, 52, 253, 0) 100%);
	}
	h2 {
		color: #fff;
		margin: 0 auto;
		line-height: .88;
		font-size: 160px;
		font-weight: 800;
		max-width: 750px;
		letter-spacing: -6px;
	}
	a {
		z-index: 2;
		display: flex;
		margin-top: -50px;
		align-items: center;
		position: relative;
		justify-content: center;
		transform: rotate(-4deg);
		span {
			line-height: 1;
			font-size: 84px;
			font-weight: 800;
			color: var(--at-c7);
			padding: 20px 60px;
			letter-spacing: -3px;
			border-radius: 200px;
			background-color: #fff;
			text-transform: uppercase;
			font-family: var(--at-sora);
		}
		i {
			width: 123px;
			height: 123px;
			display: flex;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			background: var(--at-prime-c2);
		}
	}
}
.at-ftr3-content {
	z-index: 1;
	margin-top: -180px;
	padding-top: 270px;
	.at-ftr3-bg {
		top: 0;
		left: 0;
		z-index: -1;
		clip-path: polygon( 0% 12.203%,100% 0%,100% 99.918%,0% 99.918%,0% 12.203% );
	}
}
.at-ftr3-widget-area {
	border-top: 1px solid rgba(255, 255, 255, .32);
}
.at-ftr3-widget {
	width: 25%;
	padding: 60px 0px 60px 70px;
	border-left: 1px solid rgba(255, 255, 255, .32);
	&:first-child {
		width: 50%;
		padding-left: 0;
		border-left: none;
	}
	.widget-title {
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		padding-bottom: 25px;
	}
	.desc-widget {
		width: 100%;
		max-width: 640px;
		p {
			color: #fff;
			max-width: 520px;
		}
	}
	.menu-widget {
		width: 100%;
		max-width: 314px;
		li {
			margin-bottom: 15px;
			a {
				color: #fff;
			}
		}
	}
	.cta-widget {
		width: 100%;
		max-width: 330px;
	}
	.at-cta-info {
		max-width: 204px;
		.info-item {
			margin-bottom: 15px;
			.item-icon {
				margin-right: 10px;
				i {
					color: var(--at-c1);
				}
			}
			.item-text {
				opacity: .9;
				color: #fff;
			}
		}
		.info-hour {
			margin-top: 28px;
			span {
				font-weight: 700;
				position: relative;
				margin-bottom: 15px;
				color: #fff;
				&:before {
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					content: '';
					position: absolute;
					background-color: #fff;
				}
			}
			p {
				color: #fff;
			}
		}
	}
}
.at-ftr3-copyright {
	padding: 20px 0px;
	border-top: 1px solid rgba(255, 255, 255, .32);
	p {
		color: #fff;
		font-size: 16px;
	}
}