.at-ftr-social2 {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
	h3 {
		color: #fff;
		max-width: 610px;
		font-size: 52px;
		font-weight: 600;
		@media #{$xs,$xxs} {
			font-size: 40px;
		}
		span {
			opacity: .5;
			display: block;
		}
	}
}
.at-ftr-social2-icon {
	gap: 12px;
	@media #{$xs,$xxs} {
		flex-wrap: wrap;
	}
	a {
		position: relative;
		i {
			color: #fff;
			width: 64px;
			height: 64px;
			display: flex;
			border-radius: 6px;
			align-items: center;
			justify-content: center;
			transition: 800ms cubic-bezier(0.5, -0.75, 0.3, 1.5);
			@media #{$xxs} {
				width: 45px;
				height: 45px; 
			}
		}
		span {
			opacity: 0;
			top: -85px;
			left: -120px;
			visibility: hidden;
			position: absolute;
			transition: 800ms cubic-bezier(0.5, -0.75, 0.3, 1.5);
		}
		&:nth-child(1) {
			i {
				background-color: #1877F2;
			}
		}
		&:nth-child(2) {
			i {
				background: linear-gradient(45deg, #FFD600 8.39%, #FF0100 50%, #D800B9 91.61%);
			}
		}
		&:nth-child(3) {
			i {
				background: #FFFFFF;
				color: var(--at-black1);
			}
		}

		&:nth-child(4) {
			i {
				color: #fff;
				background-color: #E60024;
			}
		}
		&:hover {
			span {
				opacity: 1;
				left: -140px;
				visibility: visible;
				transform: rotate(-10deg);
			}
			i {
				transform: rotate(-5deg) translateX(5px) translateY(-10px);
			}
		}
	}
}

.at-footer2-widget-wrap {
	border-top: 1px solid rgba(255, 255, 255, .24);
}
.at-ftr2-content {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
}
.at-ftr2-widget {
	.cta-widget {
		max-width: 310px;
		span {
			color: #fff;
			font-size: 22px;
		}
		h3 {
			color: #fff;
			font-size: 36px;
			font-weight: 500;
			margin-bottom: 0;
			padding: 20px 0px;
			transition: all 500ms ease-in-out;
			@media #{$xxs} {
				font-size: 30px;
			}
			&:hover {
				color: var(--at-c3);
			}
		}
		p {
			color: #fff;
			opacity: .8;
		}
	}
	.newslatter-widget {
		max-width: 394px;
		p {
			color: #fff;
			font-size: 36px;
			line-height: 1.2;
			margin-bottom: 0;
			padding-bottom: 25px;
		}
		form {
			position: relative;
		}
		input {
			width: 100%;
			height: 45px;
			border: none;
			background-color: transparent;
			color: rgba(255, 255, 255, 0.7);
			border-bottom: 1px solid rgba(255, 255, 255, .24);
			&::placeholder {
				color: rgba(255, 255, 255, 0.7);
			}
		}
		button {
			top: 0;
			right: 0;
			border: none;
			font-size: 20px;
			position: absolute;
			background-color: transparent;
			background: linear-gradient(90deg, #7512A2 0%, #FF31AB 48.53%, #FF6F05 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: all 500ms ease-in-out;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
	.logo-widget {
		perspective: 1000px;
		transform-style: preserve-3d;
		animation: spin3d 10s linear infinite;
	}
}
.at-ftr2-menu-wrap {
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
}
.at-ftr2-menu {
	li {
		margin-left: 36px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			margin-left: 15px;
		}
		a {
			color: #fff;
			&:hover {
				color: var(--at-c4);
			}
		}
	}
}
.at-ftr2-copyright {
	font-size: 16px;
	margin-top: 24px;
	padding-top: 24px;
	padding-bottom: 28px;
	border-top: 1px solid rgba(255, 255, 255, .24);
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		gap: 30px;
	}
	p {
		opacity: .72;
		color: #fff;
	}
	ul {
		li {
			a {
				color: #fff;
				opacity: .72;
				&:hover {
					color: var(--at-c4);
				}
			}
		}
	}
}
.at-footer3-sec {
	background-color: #121546;
	.at-ftr2-menu li a {
		&:hover {
			color: var(--at-c2);
		}
	}
}
@keyframes arrow2 {
	0% {
		transform: rotate(-4deg);
	}

	50% {
		transform: rotate(4deg);
	}

	0% {
		transform: rotate(0deg);
	}
}
.at-ftr3-cta {
	padding-bottom: 20px;
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 50px;
	}
	.at-ftr3-shape1 {
		top: 0;
		left: 0;
		right: 0;
		opacity: .2;
		margin: 0 auto;
		text-align: center;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
		.glow {
			fill: none;
			stroke-width: 2;
			filter: url(#glow);
			animation: pulse 3s infinite;
		}

		@keyframes pulse {
			0%   { stroke: #fff; stroke-opacity: 0.2; }
			50%  { stroke: #f1f1f1; stroke-opacity: 1; stroke-width: 3; }
			100% { stroke: #f5f5f5; stroke-opacity: 0.2; }
		}
		.c1 { animation-delay: 0s; }
		.c2 { animation-delay: 0.5s; }
		.c3 { animation-delay: 1s; }
		.c4 { animation-delay: 1.5s; }
	}
	.at-cta-shape1 {
		left: 0;
		right: 0;
		bottom: -65%;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.at-ftr3-subtitle {
		color: #A234FD;
		font-size: 14px;
		font-weight: 500;
		padding: 5px 12px;
		margin-bottom: 25px;
		border-radius: 4px;
		display: inline-block;
		background: linear-gradient(90deg, rgba(162, 52, 253, 0.2) 0%, rgba(162, 52, 253, 0) 100%);
	}
	h2 {
		color: #fff;
		margin: 0 auto;
		line-height: .88;
		font-size: 160px;
		font-weight: 800;
		max-width: 750px;
		letter-spacing: -6px;
		@media #{$sm,$xs} {
			font-size: 100px;
		}
		@media #{$xxs} {
			font-size: 60px;
		}
	}
	.cta-link {
		z-index: 2;
		position: relative;
		margin-top: -40px;
		transform: rotate(-4deg);
		@media #{$sm,$xs,$xxs} {
			margin-top: 0;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			transform-origin: top right;
			animation: arrow2 4s var(--cube-1) infinite;
			span {
				line-height: 1;
				font-size: 84px;
				font-weight: 800;
				color: var(--at-c7);
				padding: 20px 60px;
				letter-spacing: -3px;
				border-radius: 200px;
				background-color: #fff;
				text-transform: uppercase;
				font-family: var(--at-sora);
				@media #{$sm,$xs} {
					font-size: 50px;
				}
				@media #{$xxs} {
					font-size: 30px;
					padding: 20px 20px;
				}
			}
			i {
				width: 123px;
				height: 123px;
				display: flex;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				background: var(--at-prime-c2);
				@media #{$sm,$xs,$xxs} {
					width: 80px;
					height: 80px;
				}
			}
		}
	}
}
.at-ftr3-content {
	z-index: 1;
	margin-top: -190px;
	padding-top: 270px;
	@media #{$sm,$xs,$xxs} {
		margin-top: 0;
		padding-top: 30px;
	}
	.at-ftr3-bg {
		top: 0;
		left: 0;
		z-index: -1;
		clip-path: polygon( 0% 12.203%,100% 0%,100% 99.918%,0% 99.918%,0% 12.203% );
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.at-ftr3-widget-area {
	border-top: 1px solid rgba(255, 255, 255, .32);
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		padding-bottom: 40px;
	}
}
.at-ftr3-widget {
	width: 25%;
	padding: 60px 0px 60px 70px;
	border-left: 1px solid rgba(255, 255, 255, .32);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding: 60px 30px 60px 30px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		width: 50%;
		border: none;
		padding-left: 0;
		padding-bottom: 0px;
	}
	@media #{$xs,$xxs} {
		width: 100%;
	}
	&:first-child {
		width: 50%;
		padding-left: 0;
		border-left: none;
		@media #{$xs,$xxs} {
			width: 100%;
		}
	}
	.ftr3-img {
		right: -40px;
		bottom: -15px;
		@media #{$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.widget-title {
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		padding-bottom: 25px;
	}
	.desc-widget {
		width: 100%;
		max-width: 640px;
		padding-right: 15px;
		p {
			color: #fff;
			max-width: 520px;
		}
	}
	.menu-widget {
		width: 100%;
		max-width: 314px;
		li {
			margin-bottom: 15px;
			a {
				color: #fff;
				&:hover {
					color: var(--at-c2);
				}
			}
		}
	}
	.cta-widget {
		width: 100%;
		max-width: 330px;
	}
	.at-cta-info {
		max-width: 204px;
		.info-item {
			margin-bottom: 15px;
			.item-icon {
				margin-right: 10px;
				i {
					color: var(--at-c1);
				}
			}
			.item-text {
				opacity: .9;
				color: #fff;
			}
		}
		.info-hour {
			margin-top: 28px;
			span {
				font-weight: 700;
				position: relative;
				margin-bottom: 15px;
				color: #fff;
				&:before {
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					content: '';
					position: absolute;
					background-color: #fff;
				}
			}
			p {
				color: #fff;
			}
		}
	}
}
.at-ftr3-copyright {
	padding: 20px 0px;
	border-top: 1px solid rgba(255, 255, 255, .32);
	p {
		color: #fff;
		font-size: 16px;
	}
}
.at-ftr1-content {
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.at-ftr1-widget {
	width: 33.33%;
	@media #{$lg} {
		width: 50%;
	}
	@media #{$md,$sm,$xs,$xxs} {
		width: 100%;
	}
	.logo-widget {
		@media #{$md,$sm,$xs,$xxs} {
			padding: 70px 15px;
		}
	}
	.menu-widget {
		padding: 70px 50px;
		@media #{$xxl,$xl,$lg} {
			padding: 70px 20px;
		}
		.subtitle {
			gap: 8px;
			font-size: 19px;
			font-weight: 700;
			margin-bottom: 20px;
			color: var(--at-black1);
		}
		.at_menu-item {
			gap: 0px 30px;
			@media #{$xs,$xxs} {
				flex-wrap: wrap;
			}
		}
		ul {
			li {
				margin-bottom: 12px;
				a {
					font-size: 18px;
					font-weight: 600;
					padding-left: 27px;
					color: var(--at-black1);
					position: relative;
					&:before {
						top: 0;
						left: 0;
						content: "\f058";
						position: absolute;
						margin-right: 5px;
						font-weight: 800;
						font-family: 'Font Awesome 5 Free';
						background: var(--at-prime-c4);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}
	}
	.desc-widget {
		padding: 50px;
		h3 {
			color: #fff;
			font-size: 42px;
			font-weight: 800;
			max-width: 365px;
		}
	}
}
.at-ftr1-copyright {
	padding: 25px 0px;
	background-color: #252525;
	p {
		color: #fff;
	}
	ul {
		gap: 30px;
		display: flex;
	}
	li {
		a {
			color: #fff;
			position: relative;
			&:before {
				top: 11px;
				left: -19px;
				width: 5px;
				height: 5px;
				content: '';
				position: absolute;
				border-radius: 100%;
				background-color: #fff;
			}
		}
		&:first-child {
			a {
				&:before {
					display: none;
				}
			}
		}
	}
}