.at-about3-sec {
	z-index: 1;
	.at-about3-shape {
		right: 0;
		top: 50px;
		z-index: -1;
		opacity: 12%;
	}
	.at-about3-shape2 {
		left: 0;
		top: 10%;
		z-index: -1;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} { 
			display: none;
		}
	}
}
.at-about3-content {
	gap: 40px 30px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.at-about3-text {
	max-width: 554px;
	.at-sec-title2 {
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
}
@keyframes swing {
	0%   { transform: rotate(-45deg); }
	50%  { transform: rotate(45deg); }
	100% { transform: rotate(-45deg); }
}
.at-about3-img {
	height: 100%;
	max-width: 675px;
	mask-size: cover;
	mask-repeat: no-repeat;
	mask-image: url(../img/bg/mask.svg);
	animation: swing 15s ease-in-out infinite;
}
.at-about3-list {
	padding-top: 25px;
	position: relative;
	padding-bottom: 10px;
	&:before,
	&:after {
		left: 0;
		width: 100%;
		content: '';
		height: 1px;
		position: absolute;
		background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	ul {
		gap: 0px 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	li {
		width: 100%;
		color: #fff;
		max-width: 255px;
		margin-bottom: 12px;
		i {
			margin-right: 5px;
		}
	}
}
.at-about3-counter-wrap {
	height: 900px;
	align-items: end;
	border-bottom: 1px solid rgba(255, 255, 255, .7);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		height: auto;
	}
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
		margin-top: 70px;
		justify-content: center;
	}
}
.at-ab3-count-item {
	width: 20%;
	@media #{$sm,$xs,$xxs} {
		width: 33.33%;
	}
	@media #{$sm,$xs,$xxs} {
		width: 50%;
	}
	&:nth-child(1) {
		.inner-item-wrap {
			&:after {
				left: 0;
				bottom: 0;
				width: 1px;
				content: '';
				height: 245px;
				position: absolute;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
				@media #{$sm,$xs,$xxs} {
					display: none;
				}
			}
		}
		.item-img {
			width: 343px;
			height: 318px;
			transform: translateX(-50px);
		}
	}
	&:nth-child(2) {
		.inner-item-wrap {
			z-index: 2;
		}
		.item-img {
			width: 340px;
			height: 148px;
			transform: translateX(-35px);
		}
	}
	&:nth-child(3) {
		.item-img {
			width: 172px;
			height: 341px;
		}
	}
	&:nth-child(4) {
		.item-img {
			width: 252px;
			height: 124px;
			transform: translateX(-50px);
		}
	}
	&:nth-child(5) {
		.item-img {
			width: 301px;
			height: 224px;
			transform: translateX(-20px);
		}
	}
	.inner-item-wrap {
		z-index: 1;
		padding-bottom: 30px;
		&:before {
			right: 0;
			bottom: 0;
			width: 1px;
			content: '';
			height: 245px;
			position: absolute;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
			@media #{$sm,$xs,$xxs} {
				display: none;
			}
		}
	}
	.inner-item {
		position: relative;
	}
	.item-img {
		left: 0;
		right: 0;
		z-index: -1;
		bottom: 135px;
		overflow: hidden;
		text-align: center;
		position: absolute;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
		img {
			border-radius: 16px;
		}
	}
	.item-text {
		margin-top: 20px;
		h3 {
			color: #fff;
			font-size: 68px;
			line-height: 1;
			@media #{$md,$sm,$xs} {
				font-size: 48px;
			}
			@media #{$xxs} {
				font-size: 30px;
			}
			sup {
				top: -20px;
				color: #EC04FB;
				@media #{$md} {
					top: -10px;
				}
			}
		}
		p {
			color: #fff;
			opacity: .8;
			font-size: 16px;
		}
	}
}