.at-client3-sec {
	z-index: 1;
	.at-client3-shape {
		right: 0;
		left: -25%;
		z-index: -1;
		width: 140%;
		bottom: -5%;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}
.at-client3-top {
	border-bottom: 1px solid rgba(7, 0, 14, .2);
	.at-sec-title2 {
		.subtitle {
			margin-bottom: 0;
		}
	}
	.at-client3-title {
		max-width: 870px;
		padding: 70px 0px 70px 52px;
		border-left: 1px solid rgba(7, 0, 14, .2);
		h3 {
			font-size: 34px;
			max-width: 820px;
			font-weight: 600;
		}
	}
}
.at-client3-desc {
	max-width: 445px;
	.inner-item {
		max-width: 395px;
	}
}
.at-cl-btn {
	a {
		font-size: 16px;
		padding: 12px 35px;
		color: var(--at-black1);
		font-family: var(--at-sora);
		border-top: 1px solid rgba(7, 0, 14, .32);
		border-bottom: 1px solid rgba(7, 0, 14, .32);
		i {
			margin-left: 5px;
		}
	}
}
.at-client3-logo-wrap {
	width: 100%;
	max-width: 870px;
	border-left: 1px solid rgba(7, 0, 14, .2);
}
.at-client3-item {
	height: 140px;
	width: 33.33%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid rgba(7, 0, 14, .2);
	border-bottom: 1px solid rgba(7, 0, 14, .2);
	.item-logo {
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;

	}
}