.at-project3-sec {
	padding-left: 15px;
	padding-right: 15px;
	.at-sec-title2 {
		margin: 0 auto;
		max-width: 790px;
	}
}
.at-project3-content {
	margin: 0 auto;
	margin-top: 60px;
	max-width: 1720px;
}
.at-project3-item {
	overflow: hidden;
	margin-bottom: 32px;
	&:nth-child(even) {
		.item-text {
			left: auto;
			right: 13%;
			@media #{$sm,$xs,$xxs} {
				left: 15px;
				right: 15px;
				margin: 0 auto;
			}
		}
	}
	.item-img {
		height: 666px;
		overflow: hidden;
		position: relative;
		border-radius: 16px;
		background-color: var(--at-black1);
		img {
			opacity: .80;
		}
	}
	.item-text {
		top: 90px;
		z-index: 1;
		left: 13%;
		padding: 40px;
		overflow: hidden;
		max-width: 480px;
		position: absolute;
		border-radius: 12px;
		@media #{$sm,$xs,$xxs} {
			left: 15px;
			right: 15px;
			margin: 0 auto;
		}
		&:before {
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background-color: #fff;
			clip-path: polygon( 97.5% 0%,97.5% 0%,97.905% 0.032%,98.29% 0.126%,98.649% 0.277%,98.976% 0.478%,99.268% 0.726%,99.518% 1.015%,99.721% 1.34%,99.873% 1.696%,99.967% 2.077%,100% 2.479%,100% 97.521%,100% 97.521%,99.967% 97.923%,99.873% 98.304%,99.721% 98.66%,99.518% 98.985%,99.268% 99.274%,98.976% 99.522%,98.649% 99.723%,98.29% 99.874%,97.905% 99.968%,97.5% 100%,2.5% 100%,2.5% 100%,2.094% 99.968%,1.71% 99.874%,1.351% 99.723%,1.024% 99.522%,0.732% 99.274%,0.482% 98.985%,0.279% 98.66%,0.127% 98.304%,0.033% 97.923%,0% 97.521%,0% 2.479%,0% 2.479%,0.033% 2.077%,0.127% 1.696%,0.279% 1.34%,0.482% 1.015%,0.732% 0.726%,1.024% 0.478%,1.351% 0.277%,1.71% 0.126%,2.094% 0.032%,2.5% 0%,97.5% 0%,10% 39.669%,10% 39.669%,9.594% 39.702%,9.21% 39.796%,8.851% 39.946%,8.524% 40.148%,8.232% 40.396%,7.982% 40.685%,7.779% 41.009%,7.627% 41.365%,7.533% 41.747%,7.5% 42.149%,7.5% 90.083%,7.5% 90.083%,7.533% 90.485%,7.627% 90.866%,7.779% 91.222%,7.982% 91.547%,8.232% 91.836%,8.524% 92.084%,8.851% 92.285%,9.21% 92.436%,9.594% 92.53%,10% 92.562%,90% 92.562%,90% 92.562%,90.405% 92.53%,90.79% 92.436%,91.149% 92.285%,91.476% 92.084%,91.768% 91.836%,92.018% 91.547%,92.221% 91.222%,92.373% 90.866%,92.467% 90.485%,92.5% 90.083%,92.5% 42.149%,92.5% 42.149%,92.467% 41.747%,92.373% 41.365%,92.221% 41.009%,92.018% 40.685%,91.768% 40.396%,91.476% 40.148%,91.149% 39.946%,90.79% 39.796%,90.405% 39.702%,90% 39.669%,10% 39.669% );
		}
	}
	.item-more {
		height: 242px;
	}
	.item-title {
		padding-bottom: 35px;
		span {
			color: #fff;
			font-size: 14px;
			font-weight: 600;
			padding: 5px 12px;
			border-radius: 4px;
			margin-bottom: 18px;
			background-color: #A234FD;
		}
		.pro_title {
			font-size: 28px;
			font-weight: 600;
			@media #{$xxs} {
				font-size: 24px;
			}
			@media #{$xxxs} {
				font-size: 20px;
			}
		}
	}
	.item-more {
		margin-bottom: 24px;
		a {
			width: 90%;
			border-radius: 6px;
			padding: 12px 24px;
			font-family: var(--at-sora);
			backdrop-filter: blur(8px);
			white-space: nowrap;
			background-color: rgba(255, 255, 255, 0.6);
			&:hover {
				color: #fff;
				background: var(--at-c3);
			}
			@media #{$xxs} {
				gap: 0px 10px;
				padding: 12px 15px;
			}
		}
	}
}