.at-why-c3-sec {
	z-index: 1;
	margin: 0px 15px;
}
.at-why-c3-content {
	margin: 0 auto;
	max-width: 1800px;
	padding: 0px 65px;
	padding-bottom: 100px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		gap: 40px;
		flex-wrap: wrap;
		padding: 0px 15px 60px;
	}
	.at-why-c3-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		clip-path: polygon( 100% 82.409%,100% 82.409%,99.981% 82.812%,99.926% 83.195%,99.839% 83.551%,99.721% 83.877%,99.577% 84.167%,99.409% 84.415%,99.219% 84.617%,99.012% 84.768%,98.79% 84.862%,98.556% 84.895%,81.611% 84.895%,81.611% 84.895%,81.377% 84.927%,81.155% 85.022%,80.947% 85.172%,80.758% 85.374%,80.59% 85.623%,80.445% 85.913%,80.328% 86.238%,80.24% 86.595%,80.186% 86.977%,80.167% 87.38%,80.167% 97.514%,80.167% 97.514%,80.148% 97.918%,80.093% 98.3%,80.005% 98.657%,79.888% 98.982%,79.744% 99.272%,79.575% 99.52%,79.386% 99.723%,79.179% 99.873%,78.957% 99.967%,78.722% 100%,1.444% 100%,1.444% 100%,1.21% 99.967%,0.988% 99.873%,0.781% 99.723%,0.591% 99.52%,0.423% 99.272%,0.279% 98.982%,0.161% 98.657%,0.074% 98.3%,0.019% 97.918%,0% 97.514%,0% 26.769%,0% 26.769%,0.019% 26.365%,0.074% 25.983%,0.161% 25.626%,0.279% 25.301%,0.423% 25.011%,0.591% 24.763%,0.781% 24.56%,0.988% 24.41%,1.21% 24.316%,1.444% 24.283%,43.722% 24.283%,43.722% 24.283%,43.957% 24.25%,44.179% 24.156%,44.386% 24.006%,44.575% 23.803%,44.744% 23.555%,44.888% 23.265%,45.005% 22.94%,45.093% 22.583%,45.148% 22.201%,45.167% 21.797%,45.167% 2.486%,45.167% 2.486%,45.186% 2.082%,45.24% 1.7%,45.328% 1.343%,45.445% 1.018%,45.59% 0.728%,45.758% 0.48%,45.947% 0.277%,46.155% 0.127%,46.377% 0.033%,46.611% 0%,98.556% 0%,98.556% 0%,98.79% 0.033%,99.012% 0.127%,99.219% 0.277%,99.409% 0.48%,99.577% 0.728%,99.721% 1.018%,99.839% 1.343%,99.926% 1.7%,99.981% 2.082%,100% 2.486%,100% 82.409% );
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			content: '';
			opacity: .76;
			height: 100%;
			position: absolute;
			background: linear-gradient(257.05deg, #771A99 5.41%, #89309E 43.01%, #BD6FFD 99.43%),
			linear-gradient(0deg, rgba(7, 0, 14, 0.28), rgba(7, 0, 14, 0.28));
		}
	}
	.at-wc3-img1 {
		right: 0;
		bottom: 0;
		left: -160px;
		text-align: center;
		position: absolute;
		@media #{$xxl} {
			left: 40px;
		}
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
}
.at-why-c3-left {
	max-width: 695px;
	@media #{$xl,$lg} {
		width: 100%;
		max-width: 45%;
	}
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}
.at-why-c3-wrap {
	margin-top: 195px;
	padding-left: 26px;
	@media #{$xxxl,$xxl} {
		padding-left: 0;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-top: 40px;
		padding-left: 0;
	}
}
.at-why-c3-item {
	padding: 40px;
	max-width: 348px;
	border-radius: 12px;
	margin-bottom: 48px;
	background: linear-gradient(180deg, #F8B6BC 0%, #771A99 0.01%, #89309E 40%, #BD6FFD 100%);
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	&:last-child {
		margin-bottom: 0;
	}
	h3 {
		color: #fff;
		line-height: 1;
		font-size: 68px;
		font-weight: 700;
		padding-bottom: 18px;
		font-family: var(--at-dm);
		border-bottom: 1px solid rgba(255, 255, 255, .32);
		i {
			margin-right: 5px;
			display: inline-block;
			transform: translateY(-15px);
		}
	}
	p {
		color: #fff;
		padding-top: 20px;
	}
}
.at-why-c3-right {
	z-index: 2;
	max-width: 505px;
	padding-top: 95px;
	margin-right: 30px;
	position: relative;
	@media #{$xxl} {
		max-width: 345px;
	}
	@media #{$xl,$lg} {
		width: 100%;
		max-width: 45%;
	}
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
		margin-right: 0;
		padding-top: 40px;
	}
	.at-btn3 {
		background: linear-gradient(90deg, #FF4C13 0%, #FE7524 100%);
		a {
			&:before {

			}
		}
	}
}
.at-why-c3-ft {
	margin-bottom: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(255, 255, 255, .32);
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		border-bottom: 1px solid rgba(0, 0, 0, .32);
	}
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
		
	}
	h3 {
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		padding-bottom: 14px;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			color: var(--at-black1);
		}
	}
	p {
		color: #fff;
		font-size: 16px;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			color: var(--at-black1);
		}
	}
}
.at-whyc3-client {
	right: 0;
	bottom: 25px;
	max-width: 330px;
	position: absolute;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
		position: static;
	}
	.at-wc3-client {
		gap: 15px;
		@media #{$xxs} {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	h2 {
		color: var(--at-black1);
		font-size: 60px;
		font-weight: 400;
		font-family: var(--at-dm);
	}
	ul {
		display: flex;
		justify-content: center;
	}
	li {
		width: 64px;
		height: 64px;
		overflow: hidden;
		margin-left: -25px;
		border-radius: 100%;
		border: 3px solid #fff;
		@media #{$xxxl,$xxl} {
			margin-left: -35px;
		}
		&:first-child {
			margin-left: 0;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	p {
		color: #5A595C;
		margin: 0 auto;
		font-size: 16px;
		padding-top: 5px;
		letter-spacing: 3px;
		@media #{$xxxl,$xxl} {
			letter-spacing: 0;
		}
	}
}
